<header>
    <div class="container">
        <a routerLink="/" class="logo">Mikuna</a>
        <nav>
            <ul>
                <li>
                    <a href="">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">MIKUNA</a>
                        <div class="menu">
                            <a routerLink="/profile">PROFILE</a>
                            <a routerLink="/order">ORDER</a>
                            <a routerLink="/logout">LOGOUT</a>
                        </div>
                    
                </li>
                <li>
                    <a routerLink="/cart">Cart <span>3</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>